#wrapper
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.jumbotron { background-color: #ddd1a8; }

code 
{
    display: inline-block;
    margin-top: 20px;
}

footer a
{
    font-size: 25px;
    text-decoration: none;
}

.fa
{
    margin-left: 5px;
    margin-right: 5px;
}

.fa-linkedin
{
    color: #0077b5;
}

.fa-github
{
    color: #6e5494
}

.fa-free-code-camp
{
    color: #006400;
}

.fa-codepen
{
    color: black;
}